<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.6.5/angular.min.js"></script>
    <link href="../../Content/bootstrap.css" rel="stylesheet" />
    <script src="../storyboard.js"></script>
    <script src="../Model/StoryModel.js"></script>
    <script src="../Controller/StoryController.js"></script>
</head>
<body ng-app="storyApp" class="container-fluid">
    <div ng-controller="StoryController as sc" class="container-fluid">
        <div class="row">
            <div class="col-md-2" ng-repeat="storyType in sc.storyTypes">
                {{storyType.name}}
                <div class="row">
                    <div class="col-md-12">
                        <div ng-repeat="story in sc.stories | filter: {type:storyType}" id="{{story.id}}">
                            {{story.title}}
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <form role="form">
                    <div class="form-group">
                        <label class="control-label" for="title">Title</label>
                        <input type="text" class="form-control" id="title" ng-model="sc.updatingStory.title" placeholder="Enter Title">
                        <label class="control-label" for="description">Describe</label>
                        <input type="text" class="form-control" id="description" ng-model="sc.updatingStory.description" placeholder="Enter Description">
                        <input id="Button1" class="btn" type="button" ng-click="sc.updateStory" value="Update" />
                    </div>
                </form>
            </div>
        </div>
    </div>

</body>
</html>
